@model IEnumerable<Payroll.Models.WorkHours>

@{
    var currentPage = ViewBag.CurrentPage as int? ?? 1;
    var hasMore = ViewBag.HasMore as bool? ?? false;
    var filter = ViewBag.CurrentFilter as string ?? string.Empty;
    ViewData["Title"] = Resource.CompaniesTitle;
    var previousSort = string.IsNullOrEmpty(ViewBag.Sort) ? "Name" : ViewBag.Sort;
    var previousOrder = string.IsNullOrEmpty(ViewBag.Order) ? "ASC" : ViewBag.Order;

    var searchFields = new List<string>
{
Resource.Company,
Html.DisplayNameFor(model => model.Name),
Html.DisplayNameFor(model => model.CreatedBy)
};

}

<h2>@Resource.WorkHoursTitle</h2>
<p>
    <a href="#" data-toggle="modal" data-target="#Create_Modal">
        @Resource.NewWorkHours
    </a>
</p>
<partial name="_Search" model="@searchFields" />
<div class="card"><table class="table table-striped table-hover">
    <thead class="default_color">
        <tr>
            <th class="col-md-4">
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="Company.Name"
                   asp-route-order="@(previousSort == "Company.Name" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Resource.Company
                </a>
            </th>
            <th class="col-md-4">
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="Name"
                   asp-route-order="@(previousSort == "Name" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th class="col-md-2">
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="CreatedBy"
                   asp-route-order="@(previousSort == "CreatedBy" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </a>
            </th>
            <th style="text-align:center" class="col-md-2" colspan="3">@Resource.Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td class="no-items" colspan="7">
                    @Resource.NoItems
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <partial name="_ActionsColumn" model="@item" />
                </tr>
            }
        }
    </tbody>
</table></div>

<partial name="_Pagination" model="@(new {currentPage, hasMore, filter })" />

<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="createCompanyModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header default_color">
                <button type="button" class="close" aria-label="createCompanyModal" onclick="$('#Create_Modal').modal('hide')"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="exampleModalLabel">@Resource.NewWorkHours</h3>
            </div>
            <div class="modal-body" style="border:none;">
                @{ ViewData["Mode"] = "Create";}
                <partial name="Form" model="new WorkHours()" view-data="ViewData" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
