@model Payroll.Models.Currency

<div class="col-md-12" align="left">
    <dl style="text-align:left; float:left;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exchange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exchange)
        </dd>
    </dl>
</div>
<div align="right">
    <a class="btn btn-default" asp-action="Index">@Resource.Back</a>
</div>

