@model Payroll.Models.Currency

@{
    ViewData["Title"] = Resource.CurrencyTitle;
}

<h2>@Resource.Details de @Html.DisplayFor(model => model.Name)</h2>
<div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Exchange)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Exchange)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default" style="color:white; background:black">@Resource.Edit</a>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">@Resource.Back</a>
</div>

