@model IEnumerable<Payroll.Models.Currency>

@{
    var currentPage = ViewBag.CurrentPage as int? ?? 1;
    var hasMore = ViewBag.HasMore as bool? ?? false;
    var filter = ViewBag.CurrentFilter as string ?? string.Empty;
    ViewData["Title"] = Resource.CurrencyTitle;
    var previousSort = string.IsNullOrEmpty(ViewBag.Sort) ? "Name" : ViewBag.Sort;
    var previousOrder = string.IsNullOrEmpty(ViewBag.Order) ? "ASC" : ViewBag.Order;

    var searchFields = new List<string>
    {
        Html.DisplayNameFor(model => model.Name),
        Html.DisplayNameFor(model => model.Symbol),
        Html.DisplayNameFor(model => model.Exchange),
        Html.DisplayNameFor(model => model.CreatedBy),
    };

}

<h2>@Resource.CurrencyTitle</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#createModal" class="btn btn-default default_color">
        @Resource.NewCurrency
    </a>
</p>
<partial name="_Search" model="@searchFields"/>

<table class="table table-bordered table-hover">
    <thead class="default_color">
        <tr>
            <th class="col-md-6">
                <a asp-action="Index" 
                   asp-route-filter="@filter" 
                   asp-route-page="@currentPage" 
                   asp-route-sort="Name" 
                   asp-route-order="@(previousSort == "Name" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color"> 
                        @Html.DisplayNameFor(model => model.Name) 
                </a>
            </th>
            <th class="col-md-2">
                <a asp-action="Index" 
                   asp-route-filter="@filter" 
                   asp-route-page="@currentPage" 
                   asp-route-sort="Symbol" 
                   asp-route-order="@(previousSort == "Symbol" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color"> 
                        @Html.DisplayNameFor(model => model.Symbol) 
                </a>
            </th>
            <th class="col-md-2">
                <a asp-action="Index" 
                   asp-route-filter="@filter" 
                   asp-route-page="@currentPage" 
                   asp-route-sort="Exchange" 
                   asp-route-order="@(previousSort == "Exchange" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                        @Html.DisplayNameFor(model => model.Exchange)
                </a>
            </th>
            <th class="col-md-2">
                <a asp-action="Index" 
                   asp-route-filter="@filter" 
                   asp-route-page="@currentPage" 
                   asp-route-sort="CreatedBy" 
                   asp-route-order="@(previousSort == "CreatedBy" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                </a>
            </th>
            <th style="text-align:center" class="col-md-2" colspan="3">@Resource.Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td class="no-items" colspan="5">
                    @Resource.NoItems
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.Exchange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <partial name="_ActionsColumn" model="@item" />
                </tr>
            }
        }
    </tbody>
</table>
<partial name="_Pagination" model="@(new {currentPage, hasMore, filter })" />


<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createCurrencyModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header default_color">
                <h3 class="modal-title" id="exampleModalLabel">@Resource.NewCurrency</h3>
            </div>
            <div class="modal-body" style="border:none;">
                @{ ViewData["Mode"] = "Create";}
                <partial name="Form" model="new Currency()" view-data="ViewData"/>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

