@model Payroll.Models.Basic
@{

    var propertiesToNotCreateInputs = new string[] {
"CreatedBy",
"UpdatedBy",
"DeletedBy",
"IsDeleted",
"CreatedAt",
"UpdatedAt",
"DeletedAt",
"Id",
"SearchFields"
};

    var properties = Model.GetType()
                          .GetProperties()
                          .Where(a => !propertiesToNotCreateInputs.Contains(a.Name))
                          .ToList();
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var item in properties)
            {
                if (item.GetType() == typeof(Boolean))
                {
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="@item.Name" /> @Html.DisplayNameFor(model => model.GetType().GetProperty(item.Name).Name)
                            </label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => Model.GetType().GetProperty(item.Name).Name)
                        </label>

                        <input name="@item.Name"
                               asp-for="@(Model.GetType().GetProperty(item.Name).Name)"
                               value="@(Model.GetType().GetProperty(item.Name).GetValue(Model) != null ? Model.GetType().GetProperty(item.Name).GetValue(Model).ToString() : "")"
                               class="form-control" />

                        <span asp-validation-for="@(Model.GetType().GetProperty(item.Name).Name)" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group" align="right">
                <a asp-action="Index" class="btn btn-default">@Resource.Back</a>
                <input type="submit" value="@Resource.Add" class="btn btn-default default_color" />
            </div>
        </form>
    </div>
</div>