@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Resource.ApplicationName</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav id="navBar" class="navbar navbar-inverse navbar-fixed-top default_color" style="display:none;">
        <div class="default_color">
            <div class="navbar-header default_color">
                <div style="float:left; margin-left:10px;">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <partial name="_Menu" />
                    }
                </div>

                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-brand default_color">@Resource.ApplicationName</a>
                }
                else
                {
                    <a href="/" class="navbar-brand default_color">@Resource.ApplicationName</a>
                }
            </div>
            <div class="navbar-collapse collapse default_color">

                <partial name="_LoginPartial" />
                <ul class="nav navbar-nav navbar-right" style="padding:0px;margin:0px;vertical-align:middle;">
                    <li>
                        <div class="dropdown" style="margin-top:8px;">
                            <button class="btn btn-secondary dropdown-toggle default_color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resource.Theme
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" style="margin-left:5px;float:left;" href="#" onclick="doChangeColor('icon', 'default_color');">
                                    <div style="background-color:#205081;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px;float:left;" href="#" onclick="doChangeColor('icon_red', 'red_color');">
                                    <div style="background-color:#B71C1C;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px;float:left;" href="#" onclick="doChangeColor('icon_green', 'green_color');">
                                    <div style="background-color:#1B5E20;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px;float:left;" href="#" onclick="doChangeColor('icon_yellow', 'yellow_color');">
                                    <div style="background-color:#FFD600;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px;float:left;" href="#" onclick="doChangeColor('icon_pink', 'pink_color');">
                                    <div style="background-color:#ff4081;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px;margin-top:5px;float:left;" href="#" onclick="doChangeColor('icon_purple', 'purple_color');">
                                    <div style="background-color:#4a148c;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px;margin-top:5px;float:left;" href="#" onclick="doChangeColor('icon_orange', 'orange_color');">
                                    <div style="background-color:#E65100;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px;margin-top:5px;float:left;" href="#" onclick="doChangeColor('icon_gray', 'gray_color');">
                                    <div style="background-color:#616161;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px; margin-top: 5px;float:left;" href="#" onclick="doChangeColor('icon_brown', 'brown_color');">
                                    <div style="background-color:#3E2723;width:24px;height:24px;">&nbsp;</div>
                                </a>
                                <a class="dropdown-item" style="margin-left:5px; margin-top: 5px;float:left;" href="#" onclick=" doChangeColor('icon_black', 'black_color');">
                                    <div style="background-color:#000000;width:24px;height:24px;">&nbsp;</div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" class="default_color" style="font-size:0.8em;margin:0;padding-right:4px;" onclick="minusZoom();">A-</a></li>
                    <li><a href="#" class="default_color" style="font-size:1.2em;margin:0;padding-left:4px;" onclick="plusZoom();">A+</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="modal fade" id="waiting" tabindex="-1" role="dialog" aria-labelledby="waitingModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header default_color">
                    <h4 class="modal-title" align="left" id="exampleModalLabel">Por favor aguarde</h4>
                </div>
                <div class="modal-body" style="border:none;">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main_container" class="container body-content" style="display:none;width:100%;">

        @if (ViewBag.Message != null)
        {
            <div class="alert-message">
                <div class="alert alert-@(ViewBag.MessageType) alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @(ViewBag.Message)
                </div>
            </div>
        }

        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js">
        </script>
        <script src="~/js/site.js" asp-append-version="true">
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

<script type="text/javascript">

    var zoom = [60, 70, 80, 90, 100, 110, 120, 130, 140]
    var mainContainer = document.getElementById("main_container");

    var currentZoom = 100;
    var currentZoomIndex = 4;

    var currentClass = 'default_color';
    var currentIconClass = 'icon';

    if (localStorage.getItem("zoom")) {
        currentZoom = localStorage.getItem("zoom");
    }
    if (localStorage.getItem("zoomIndex")) {
        currentZoomIndex = localStorage.getItem("zoomIndex");
    }

    $('document').ready(function () {
        if (localStorage.getItem('currentClass') != null) {
            currentClass = localStorage.getItem('currentClass');
            currentIconClass = localStorage.getItem('currentIconClass');
        }
        $('.icon').removeClass('icon').addClass(currentIconClass);
        $('.default_color').removeClass('default_color').addClass(currentClass);

        document.getElementById('navBar').style.display = 'block';
    });

    $('#main_container').ready(function () {
        mainContainer.style.zoom = currentZoom + "%";
        localStorage.setItem("zoom", currentZoom);
        localStorage.setItem("zoomIndex", currentZoomIndex);
        mainContainer.style.display = 'block';
    });

    function plusZoom() {
        var nextZoom = currentZoomIndex < zoom.length - 1 ? ++currentZoomIndex : zoom.length;;
        mainContainer.style.zoom = zoom[nextZoom] + '%';
        if (zoom[nextZoom]) {
            localStorage.setItem("zoom", zoom[nextZoom]);
            localStorage.setItem("zoomIndex", nextZoom);
        }
    }

    function minusZoom() {
        var nextZoom = currentZoomIndex > 0 ? --currentZoomIndex : 0;
        mainContainer.style.zoom = zoom[nextZoom] + '%';
        localStorage.setItem("zoom", zoom[nextZoom]);
        localStorage.setItem("zoomIndex", nextZoom);
    }

    function doChangeColor(iconClass, defaultClass) {
        if (localStorage.getItem('currentClass') != null) {
            currentClass = localStorage.getItem('currentClass');
            currentIconClass = localStorage.getItem('currentIconClass');
        }
        $('.' + currentIconClass).removeClass(currentIconClass).addClass(iconClass);
        $('.' + currentClass).removeClass(currentClass).addClass(defaultClass);

        localStorage.setItem('currentClass', defaultClass);
        localStorage.setItem('currentIconClass', iconClass);
    }

</script>
</html>
