@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Resource.ApplicationName</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top default_color">
        <div class="container default_color">
            <div class="navbar-header default_color">
                <button type="button" class="navbar-toggle default_color" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only default_color">Toggle navigation</span>
                    <span class="icon-bar default_color"></span>
                    <span class="icon-bar default_color"></span>
                    <span class="icon-bar default_color"></span>
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-brand default_color">@Resource.ApplicationName</a>
                }
                else
                {
                    <a href="/" class="navbar-brand default_color">@Resource.ApplicationName</a>
                }
            </div>
            <div class="navbar-collapse collapse default_color">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav default_color">
                        <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                        <li><a asp-area="" asp-controller="Currencies" asp-action="Index">@Resource.Currency</a></li>
                        <li><a asp-area="" asp-controller="Occupations" asp-action="Index">@Resource.Occupation</a></li>
                        <li><a asp-area="" asp-controller="LicenseTypes" asp-action="Index">@Resource.LicenseType</a></li>
                    </ul>
                }
                <partial name="_LoginPartial" />
                <ul class="nav navbar-nav navbar-right" style="padding:0px;margin:0px;">
                    <li><a href="#" style="font-size:0.8em;margin:0;padding-right:4px;" onclick="minusZoom();">A-</a></li>
                    <li><a href="#" style="font-size:1.2em;margin:0;padding-left:4px;" onclick="plusZoom();">A+</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="modal fade" id="waiting" tabindex="-1" role="dialog" aria-labelledby="waitingModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header default_color">
                    <h4 class="modal-title" align="left" id="exampleModalLabel">Por favor aguarde</h4>
                </div>
                <div class="modal-body" style="border:none;">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main_container" class="container body-content" style="display:none;">

        @if (ViewBag.Message != null)
        {
            <div class="alert-message">
                <div class="alert alert-@(ViewBag.MessageType) alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @(ViewBag.Message)
                </div>
            </div>
        }

        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

<script type="text/javascript">

    var zoom = [60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160]
    var mainContainer = document.getElementById("main_container");

    var currentZoom = 100;
    var currentZoomIndex = 4;

    if (localStorage.getItem("zoom")) {
        currentZoom = localStorage.getItem("zoom");
    }
    if (localStorage.getItem("zoomIndex")) {
        currentZoomIndex = localStorage.getItem("zoomIndex");
    }

    $('#main_container').ready(function () {
        mainContainer.style.zoom = currentZoom + "%";
        localStorage.setItem("zoom", currentZoom);
        localStorage.setItem("zoomIndex", currentZoomIndex);
        mainContainer.style.display = 'block';
    });

    function plusZoom() {
        var nextZoom = currentZoomIndex < zoom.length - 1 ? ++currentZoomIndex : zoom.length;;
        mainContainer.style.zoom = zoom[nextZoom] + '%';
        localStorage.setItem("zoom", zoom[nextZoom]);
        localStorage.setItem("zoomIndex", nextZoom);
    }

    function minusZoom() {
        var nextZoom = currentZoomIndex > 0 ? --currentZoomIndex : 0;
        mainContainer.style.zoom = zoom[nextZoom] + '%';
        localStorage.setItem("zoom", zoom[nextZoom]);
        localStorage.setItem("zoomIndex", nextZoom);
    }
</script>
</html>
