@{
    var currentPage = ViewBag.CurrentPage;
    var filter = ViewBag.CurrentFilter;
    var hasMore = ViewBag.hasMore;
    var totalItems = ViewBag.totalItems;
    var itemsPerPage = ViewBag.itemsPerPage;

    var totalPages = (totalItems / itemsPerPage) + ((totalItems % itemsPerPage == 0) ? 0 : 1);

    var firstItem = currentPage <= 1 && totalItems > 0 ? 1 : (currentPage - 1) * itemsPerPage;
    var lastItem = ((currentPage - 1) * itemsPerPage + itemsPerPage);
    lastItem = lastItem <= totalItems ? lastItem : totalItems;
}

<div align="right" style="font-size:1.1em;">
    <p>@Resource.Displaying @(firstItem) a @(lastItem) de @(totalItems) @Resource.Items.</p>
</div>

<div align="center">
    <nav>
        <ul class="pagination">
             <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="1"
                   asp-route-filter="@filter"
                   style="color:black" class="page-link">@Resource.First</a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="@(currentPage > 1 ? currentPage-1 : 1)"
                   asp-route-filter="@filter"
                   style="color:black" class="page-link">@Resource.Previous</a>
            </li>
            @if (totalPages <= 9)
            {
                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item">
                        <a asp-action="Index"
                        asp-route-page="@(i)"
                        asp-route-filter="@filter"
                        style="color:black" class="page-link">@(i)</a>
                    </li>
                }
            } 
            else 
            {
                 @for (int i = currentPage; i <= currentPage+9 && i <= totalPages; i++)
                 {
                     <li class="page-item">
                         <a asp-action="Index"
                         asp-route-page="@(i)"
                         asp-route-filter="@filter"
                         style="color:black" class="page-link">@(i)</a>
                     </li>
                 }
            }
            
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="@(hasMore ? currentPage+1 : currentPage)"
                   asp-route-filter="@filter"
                   style="color:black" class="page-link">@Resource.Next</a>
            </li>
             <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="@totalPages"
                   asp-route-filter="@filter"
                   style="color:black" class="page-link">@Resource.Last</a>
            </li>
        </ul>
    </nav>
</div>
