@model Payroll.Models.Company

@{
    var mode = ViewBag.Mode;
    var modalId = string.Empty;
    if (mode != "Create" )
    {
        modalId = mode + "_Modal" + Model.Id;
    }
    else
    {
        modalId = "Create_Modal";
    }

}

<div class="row" align="left">
    <div class="col-md-12">
        <form asp-action="@mode" id="Form_@(modalId)">
            <div style="overflow-y:auto;max-height:350px;padding:10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalJuridicalName" class="control-label"></label>
                    <input asp-for="PersonalJuridicalName" disabled="@(mode == "Details")" class="cnpj form-control" />
                    <span asp-validation-for="PersonalJuridicalName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SocialReason" class="control-label"></label>
                    <input asp-for="SocialReason" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="SocialReason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OccupationArea" class="control-label"></label>
                    <input asp-for="OccupationArea" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="OccupationArea" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoundationDate" class="control-label"></label>
                    <input type="date" asp-for="FoundationDate" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="FoundationDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Nacionality" class="control-label"></label>
                    <input asp-for="Nacionality" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Nacionality" class="text-danger"></span>
                </div>
                <div class="form-group">                    
                    <div class="checkbox">
                        <label>
                            <input asp-for="HasStrangers" disabled="@(mode == "Details")" /> @Html.DisplayNameFor(model => model.HasStrangers)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CurrencyId" class="control-label"></label>
                    <select asp-for="CurrencyId" disabled="@(mode == "Details")" class="form-control" asp-items="ViewBag.Currencies"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <input asp-for="Number" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Neighborhood" class="control-label"></label>
                    <input asp-for="Neighborhood" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Neighborhood" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Complement" class="control-label"></label>
                    <input asp-for="Complement" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Complement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>

            @if (mode == "Edit")
            {
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedAt" />
                <input type="hidden" asp-for="CreatedBy" />
            }
            <div class="form-group" style="padding-top:30px;" align="right">

                <a class="btn btn-default" onclick="$('#@(modalId)').modal('hide');$('#Form_@(modalId)').trigger('reset');">@Resource.Back</a>
                @if (mode != "Details")
                {
                    <input type="submit" value="@(mode == "Create" ? Resource.Add : mode == "Edit" ? Resource.Save : "")" class="btn btn-default default_color" />
                }
            </div>
        </form>
    </div>
</div>
