@model IEnumerable<Payroll.Models.LicenseType>

@{
    var currentPage = ViewBag.CurrentPage as int? ?? 1;
    var hasMore = ViewBag.HasMore as bool? ?? false;
    var filter = ViewBag.CurrentFilter as string ?? string.Empty;
    ViewData["Title"] = Resource.CurrencyTitle;
    var previousSort = string.IsNullOrEmpty(ViewBag.Sort) ? "Name" : ViewBag.Sort;
    var previousOrder = string.IsNullOrEmpty(ViewBag.Order) ? "ASC" : ViewBag.Order;
}


<h2>@Resource.LicenseTypeTitle</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#createModal">
        @Resource.NewLicenceType
    </a>
</p>
<partial name="_Search" model="@filter" />
<table class="table table-bordered table-hover">
    <thead class="default_color">
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="Name"
                   asp-route-order="@(previousSort == "Name" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="Description"
                   asp-route-order="@(previousSort == "Description" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.Description)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="QtyDaysDefault"
                   asp-route-order="@(previousSort == "QtyDaysDefault" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.QtyDaysDefault)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="CreatedBy"
                   asp-route-order="@(previousSort == "CreatedBy" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </a>
            </th>
            <th style="text-align:center" class="col-md-2" colspan="3">@Resource.Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td class="no-items" colspan="5">
                    @Resource.NoItems
                </td>
            </tr>
        }
        else
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.QtyDaysDefault)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <partial name="_ActionsColumn" model="@item" />
                </tr>
            }
        }
    </tbody>
</table>
<partial name="_Pagination" model="@(new {currentPage, hasMore, filter })" />

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createLicenseTypeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header default_color">
                <h3 class="modal-title" id="exampleModalLabel">@Resource.NewLicenceType</h3>
            </div>
            <div class="modal-body" style="border:none;">
                <partial name="Create" model="new LicenseType()" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
