@model Payroll.Models.Occupation

@{
    ViewData["Title"] = Resource.OccupationsTitle;
}

<h2>@Resource.Remove</h2>

<h3>@Resource.AreYouSure</h3>
<div class="row">
    <div class="col-md-4">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsRegulated)
            </dt>
            <dd>
                @(Model.IsRegulated? Resource.Yes : Resource.No)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CouncilName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CouncilName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreationTime" />
            <input type="hidden" asp-for="CreationUser" />
            <input type="hidden" asp-for="LastUpdateTime" />
            <input type="hidden" asp-for="LastUpdateUser" />
            <div class="form-group">
                <input type="submit" value=@Resource.Delete class="btn btn-default default_color" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">@Resource.Back</a>
</div>
