@model Payroll.Models.Occupation

@{
    ViewData["Title"] = Resource.OccupationsTitle;
}

<h2>@Resource.Details de @Html.DisplayFor(model => model.Name)</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRegulated)
        </dt>
        <dd>
            @(Model.IsRegulated ? Resource.Yes : Resource.No)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouncilName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouncilName)
        </dd>       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default blackWhite">@Resource.Edit</a> 
    
</div>
<br />
<div>
    <a asp-action="Index">@Resource.Back</a>
</div>
