@model Payroll.Models.Occupation

<div class="col-md-12" align="left">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRegulated)
        </dt>
        <dd>
            @(Model.IsRegulated ? Resource.Yes : Resource.No)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouncilName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouncilName)
        </dd>
    </dl>
</div>
<div align="right">
    <a class="btn btn-default" asp-action="Index">@Resource.Back</a>
</div>
