@model IEnumerable<Payroll.Models.Occupation>

@{
    var currentPage = ViewData["CurrentPage"] as int? ?? 1;
    var hasMore = ViewData["HasMore"] as bool? ?? false;
    var filter = ViewData["CurrentFilter"] as string ?? string.Empty;
    ViewData["Title"] = Resource.OccupationsTitle;
}

<h2>@Resource.OccupationsTitle</h2>

<p>
    <a asp-action="Create">@Resource.NewOccupation</a>
</p>
<form>
    <div class="form-group row">
        <div class="col-md-9">
            <input asp-for="@(filter)" class="form-control" />
        </div>
        <div class="col-md-1">
            <input asp-route-filter="@(filter)" type="submit" value="@Resource.Search" class="btn default_color" />
        </div>
        <div class="col-md-2">
            <a asp-action="Index" asp-route-filter="">@Resource.ClearFilter</a>
        </div>
    </div>
</form>
<table  class="table table-bordered table-hover">
    <thead class="default_color">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRegulated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouncilName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationUser)
            </th>           
            <th style="text-align:center" class="col-md-2" colspan="3">@Resource.Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.IsRegulated ? Resource.Yes : Resource.No)
            </td>
            <td>
                @(item.IsRegulated ? item.CouncilName : Resource.NA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationUser)
            </td>
            <partial name="_ActionsColumn" model="@item" />
        </tr>
}
    </tbody>
</table>
<div align="center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="@(currentPage > 1 ? currentPage-1 : 1)"
                   asp-route-filter="@(filter)"
                   style="color:black" class="page-link">@Resource.Previous</a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="@(hasMore ? currentPage+1 : currentPage)"
                   asp-route-filter="@(filter)"
                   style="color:black" class="page-link">@Resource.Next</a>
            </li>
        </ul>
    </nav>
</div>
