@model IEnumerable<Payroll.Models.Occupation>

@{
    var currentPage = ViewData["CurrentPage"] as int? ?? 1;
    var hasMore = ViewData["HasMore"] as bool? ?? false;
    var filter = ViewData["CurrentFilter"] as string ?? string.Empty;
    ViewData["Title"] = Resource.OccupationsTitle;
    var previousSort = string.IsNullOrEmpty(ViewBag.Sort) ? "Name" : ViewBag.Sort;
    var previousOrder = string.IsNullOrEmpty(ViewBag.Order) ? "ASC" : ViewBag.Order;

    var searchFields = new List<string> {
        Html.DisplayNameFor(model => model.Name),
        Html.DisplayNameFor(model => model.CouncilName),
        Html.DisplayNameFor(model => model.CreatedBy),
    };
}

<h2>@Resource.OccupationsTitle</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#createModal">
        @Resource.NewOccupation
    </a>
</p>
<partial name="_Search" model="searchFields" />
<table class="table table-bordered table-hover">
    <thead class="default_color">
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="Name"
                   asp-route-order="@(previousSort == "Name" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRegulated)
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="CouncilName"
                   asp-route-order="@(previousSort == "CouncilName" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.CouncilName)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-filter="@filter"
                   asp-route-page="@currentPage"
                   asp-route-sort="CreatedBy"
                   asp-route-order="@(previousSort == "CreatedBy" && previousOrder == "ASC" ? "DESC" : "ASC")" class="default_color">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </a>

            </th>
            <th style="text-align:center" class="col-md-2" colspan="3">@Resource.Action</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
            <tr>
                <td class="no-items" colspan="5">
                    @Resource.NoItems
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @(item.IsRegulated ? Resource.Yes : Resource.No)
                    </td>
                    <td>
                        @(item.IsRegulated ? item.CouncilName : Resource.NA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <partial name="_ActionsColumn" model="@item" />
                </tr>
            }
        }


    </tbody>
</table>
<partial name="_Pagination" model="@(new {currentPage, hasMore, filter })" />

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createOccupationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header default_color">
                <h3 class="modal-title" id="exampleModalLabel">@Resource.NewOccupation</h3>
            </div>
            <div class="modal-body" style="border:none;">
                @{ ViewData["Mode"] = "Create";}
                <partial name="Form" model="new Occupation()" view-data="ViewData"/>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}