@model Payroll.Models.Project

@{
    var mode = ViewBag.Mode;

    var ProjectCompanySelect = mode == "Details" ? "ProjectCompanySelectDetails" : mode == "Create" ? "ProjectCompanySelectCreate" : "ProjectCompanySelectEdit" + Model.Id;
    var ProjectDepartmentSelect = mode == "Details" ? "ProjectDepartmentSelectDetails" : mode == "Create" ? "ProjectDepartmentSelectCreate" : "ProjectDepartmentSelectEdit" + Model.Id; ;
    var ProjectWorkplaceSelect = mode == "Details" ? "ProjectWorkplaceSelectDetails" : mode == "Create" ? "ProjectWorkplaceSelectCreate" : "ProjectWorkplaceSelectEdit" + Model.Id; ; ;
    var ProjectEmployeeSelect = mode == "Details" ? "ProjectEmployeeSelectDetails" : mode == "Create" ? "ProjectEmployeeSelectCreate" : "ProjectEmployeeSelectEdit" + Model.Id; ; ; ;

    var modalId = string.Empty;
    if (mode != "Create")
    {
        modalId = mode + "_Modal" + Model.Id;
    }
    else
    {
        modalId = "Create_Modal";
    }
}

<div class="row" align="left" id="projectFormDiv">
    <div class="col-md-12">
        <form asp-action="@mode">
            <div style="overflow-y:auto;max-height:350px;padding:10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CompanyId" class="control-label"></label>
                    <select id="@ProjectCompanySelect" asp-for="CompanyId" disabled="@(mode == "Details")" onchange="loadDepartments('@(ProjectCompanySelect)', '@(ProjectDepartmentSelect)'); loadWorkplaces('@(ProjectCompanySelect)','@(ProjectWorkplaceSelect)');" class="form-control" asp-items="ViewBag.Companies"></select>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @if (mode == "Create")
                {
                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label"></label>
                        <select id="@ProjectDepartmentSelect" name="DepartmentId" onchange="loadEmployees('@(ProjectDepartmentSelect)', '@(ProjectEmployeeSelect)' );" disabled="@(mode == "Details")" class="form-control">
                            <option>@Resource.SelectItem</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label"></label>
                        <select id="@ProjectDepartmentSelect" name="DepartmentId" onchange="loadEmployees('@(ProjectDepartmentSelect)', '@(ProjectEmployeeSelect)' );" disabled="@(mode == "Details")" class="form-control">
                            <option value="@(Model.DepartmentId)">@Model.Department.Name</option>
                        </select>
                    </div>
                }

                @if (mode == "Create")
                {
                    <div class="form-group">
                        <label asp-for="WorkplaceId" class="control-label"></label>
                        <select id="@ProjectWorkplaceSelect" name="WorkplaceId" disabled="@(mode == "Details")" class="form-control">
                            <option>@Resource.SelectItem</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="WorkplaceId" class="control-label"></label>
                        <select id="@ProjectWorkplaceSelect" name="WorkplaceId" disabled="@(mode == "Details")" class="form-control">
                            <option value="@(Model.WorkplaceId)">@(Model.Workplace.Name)</option>
                        </select>
                    </div>
                }

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" disabled="@(mode == "Details")" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Start" class="control-label"></label>
                    <input asp-for="Start" type="date" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="End" class="control-label"></label>
                    <input asp-for="End" type="date" disabled="@(mode == "Details")" class="form-control" />
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>
                @if (mode == "Details")
                {
                    <div class="form-group">
                        <label for="EmployeeId" class="control-label">@Resource.Employees</label>
                        @foreach (var employee in Model.Employees)
                        {
                            <br />
                            <input type="checkbox"
                                   id="EmployeeId_@(employee.EmployeeId)"
                                   name="EmployeeId"
                                   value="@(employee.EmployeeId)"
                                   checked="checked"
                                   disabled="disabled" />

                            <label for="EmployeeId_@(employee.EmployeeId)"> @(employee.Employee.Name) </label>
                        }
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="EmployeeId" class="control-label">@Resource.Employees</label>
                        <div id="@ProjectEmployeeSelect">
                        </div>
                    </div>
                    if (mode == "Edit")
                    {
                        <script src="~/lib/jquery/dist/jquery.min.js"></script>
                        <script src="~/js/site.js"></script>
                        <script type="text/javascript">
                            @{
                                var employeesFromModel =
                                    Model.Employees.Any() ?
                                Model.Employees
                                    .Select(a => a.EmployeeId.ToString())
                                    .ToList()
                                    .Aggregate((a, b) => a + ", " + b) : string.Empty;

                            }
                            loadEmployees('@ProjectDepartmentSelect', '@ProjectEmployeeSelect', function () {
                                    let employees = "@(employeesFromModel)".split(', ');
                                    if (employees.length) {
                                        for (let i = 0; i < employees.length; i++) {
                                            $('#EmployeeId_' + employees[i]).prop('checked', true);
                                        }
                                    }
                                });
                        </script>
                    }
                }
                @if (mode == "Edit")
                {
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CreatedAt" />
                    <input type="hidden" asp-for="CreatedBy" />
                }
            </div>
            <div class="form-group" style="padding-top:30px;" align="right">
                <a class="btn btn-default" onclick="$('#@(modalId)').modal('hide');">@Resource.Back</a>
                @if (mode != "Details")
                {
                    <input type="submit" value="@(mode == "Create" ? Resource.Add : mode == "Edit" ? Resource.Save : "")" class="btn btn-default default_color" />
                }
            </div>

        </form>
    </div>
</div>
