@{
    ViewData["Title"] = Resource.ApplicationName;
}

<h2>@Resource.Dashboard</h2>

<div class="card-container">
    @if (ViewBag.EmployeesByCompany.Count > 0)
    {
        
        <div class="card big-card">
            <h4>@Resource.EmployeesByCompany</h4>
            <table class="table table-stripped">
                <tr>
                    <th>@Resource.Company</th>
                    <th>@Resource.EmployeeQuantity</th>
                </tr>
            @foreach(var company in ViewBag.EmployeesByCompany)
            {
                var companyName = company.Key;
                var employees = company.Value.Count;
                var link = "/Employees/Index?filter=" + companyName;
                    <tr>
                        <td><a href='@(link)'>@(companyName)</a></td> 
                        <td><span style="float:right;">@(employees)</span></td>
                    </tr>
            }
            <tr>
                <td>@Resource.Total</td>
                <td><span style="float:right">@ViewBag.TotalEmployees</span></td>
            </tr>

            </table>
        </div>
    }

    @if (ViewBag.EmployeesInVacations.Count > 0)
    {
        <div class="card big-card">
            <h4>@Resource.EmployeesInVacation</h4>
                    <table class="table table-stripped">
                <tr>
                    <th>@Resource.Company</th>
                    <th>@Resource.Name</th>                
                </tr>
            @{ var total = 0; }
            @foreach(var company in ViewBag.EmployeesInVacations)
            {
                    var companyName = company.Key;
                    total += company.Value.Count;
                    @foreach (var item in company.Value)
                    {
                        var link = "/Employees/Index?filter=" + item.Employee.EmployeeNumber;
                        <tr>
                            <td>@(companyName)</td> 
                            <td><a href="@link">@(item.Employee.Name)</a></td>
                        </tr>                                
                    }

                    <tr>
                        <td><b>@Resource.Total</b></td> 
                        <td><span style="float:right">@(company.Value.Count)</span></td>
                    </tr>                                
            }
            <tr>
                <td><b>@Resource.GeneralTotal</b></td>
                <td><span style="float:right">@total</span></td>
            </tr>
            </table>
        </div>
    }
   
    @if (ViewBag.EmployeesAbsents.Count > 0 )
    {
        <div class="card big-card">
            <h4>@Resource.EmployeesAbsentsToday</h4>
            <table class="table table-stripped">
                <tr>
                    <th>@Resource.Company</th>
                    <th>@Resource.Name</th>
                    <th>@Resource.Occurrence</th>
                </tr>
            @foreach (var item in ViewBag.EmployeesAbsents)
            {
                var company = item.Key.Company.Name;
                var name = item.Key.Name;
                var occurrenceType = item.Value.Name;
                var link = "/Employees/Index?filter=" + item.Key.EmployeeNumber;
                <tr>
                <td>@(company)</td>
                <td><a href='@link'> @(name)</a></td>
                <td>@(occurrenceType)</td>
            </tr>
            }
            <tr>
                <td colspan="2"><b>@Resource.Total</b></td>
                <td> <span style="float:right">@ViewBag.EmployeesAbsents.Count</span></td>
            </tr>
            </table>
        </div>
    }

    @if (ViewBag.Projects.Count > 0 )
    {
        <div class="card big-card">
            <h4>@Resource.ProjectsStarted</h4>
            <table class="table table-stripped">
                <tr>
                    <th>@Resource.Company</th>
                    <th>@Resource.Project</th>
                    <th>@Resource.Start</th>
                    <th>@Resource.End</th>
                </tr>
                @foreach (var item in ViewBag.Projects)
                {
                    var companyName = item.Key.Company.Name;
                    var projectName = item.Key.Name;
                    var start = item.Key.Start;
                    var end = item.Key.End;
                    var link = "/Projects/Index?filter="+@projectName;
                    <tr>
                        <td>@(companyName)</td>
                        <td><a href="@link">@(projectName)</a></td>
                        <td>@(start.ToString(@Resource.DateFormat))</td>
                        <td>@(end.ToString(@Resource.DateFormat))</td>
                    </tr>

                }
                <tr>
                    <td colspan="2"><b>@Resource.Total</b></td>
                    <td colspan="2"><span style="float:right">@ViewBag.Projects.Count</span></td>
                </tr>
            </table>
        </div>
    }

    @if (ViewBag.ProjectsToStart.Count > 0 )
    {
        <div class="card big-card">
            <h4>@Resource.ProjectsToStart</h4>
            <table class="table table-stripped">
                <tr>
                    <th>@Resource.Company</th>
                    <th>@Resource.Project</th>
                    <th>@Resource.Start</th>
                    <th>@Resource.End</th>
                </tr>
                @foreach (var item in ViewBag.ProjectsToStart)
                {
                    var companyName = item.Key.Company.Name;
                    var projectName = item.Key.Name;
                    var start = item.Key.Start;
                    var end = item.Key.End;
                    var link = "/Projects/Index?filter=" + @projectName;
                    <tr>
                        <td>@(companyName)</td>
                        <td> <a href="@link"> @(projectName)</a></td>
                        <td>@(start.ToString(@Resource.DateFormat))</td>
                        <td>@(end.ToString(@Resource.DateFormat))</td>
                    </tr>

                }
                <tr>
                    <td colspan="2"><b>@Resource.Total</b></td>
                    <td colspan="2"><span style="float:right">@ViewBag.ProjectsToStart.Count</span></td>
                </tr>
            </table>
        </div>
    }

</div>